@using TheSocialCebu_Capstone.Models
@{
}
@model List<Product>

<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model)
{
    <tr>
        <td>@p.ProdName</td>
        <td>@p.Category.CategoryName</td>
        <td>@p.Subcategory.SubcategoryName</td>
        <td>@p.Price</td>
        <td>@(p.Availability ? "Yes" : "No")</td>
    </tr>
}
    </tbody>
</table>
